<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota Não encontrada</title>
    <!-- Essa não é uma boa pratica de programaçao -->
    <!-- Será corrigida futuramente -->
     <link rel="stylesheet" href="/styles/cssotimizado.css">
</head>